
nav a {
	padding:5px 5px 5px 5px;
	color:white;
	cursor:pointer;
}
nav a:hover {
	background-color:#237cc3;
}

html {
	height:100%;
}
nav {
	display:flex;
	justify-content:space-evenly;
    background-color:#61a1d6;
}

 
