/* nav {
	display:flex;
	justify-content:space-evenly;
    background-color:#61a1d6;
}
nav a {
	padding:5px 5px 5px 5px;
	color:white;
	cursor:pointer;
	flex-grow: 1;
	align-self: center;
	text-align: center;
}
nav a:hover {
	background-color:#237cc3;
}

html, body {
	height:100%;
	margin: 0;
	box-sizing: border-box;

}
header{
	height: 8.4%;
	display: flex;
    justify-content: center;
    align-items: center;
}
nav{
	height: 4%;
} */
* {
	margin: 0;
}
html{
	display: flex;
	flex-flow: column;

}

 .fo {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
  justify-content: space-evenly;
	box-shadow: 0px 0px 10px 1px #d4dbec, 4px 4px 13px 1px #d4dbec;
	background-color: #cec1c1;
	border-radius: 5px;
	width: 300px;
	height: 360px;
}
#login .fo > label{
  font-size: 20px;
}
#login .fo > label > input{
	padding: 0.5em;
}
#login .form_butons >input {
	margin: 0px 10px 0px 10px;
}
section{
	height: 84%;
}
#register, #catlog, #login {
	display: none;
}
#login, #register {
	height: 100%;
}
#login .forms {
	display:flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
#register .forms {
	display:flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
